IMPORTS

In [33]:
import pandas as pd
import numpy as np
import matplotlib as mp
import seaborn as sb
import sklearn as sk

DATA PRE-PROCESSING and VISUALISING

In [34]:
# d =  pd.read_csv("E:/Internship/Silica-prediction-in-blast-furnace/datasets/bf3_data_2022_01_07.csv")
# print(d)
df = pd.read_excel("E:/Internship/Silica-prediction-in-blast-furnace/datasets/bf3_data_2022_01_07.xlsx")
print(df)

            DATE_TIME   CB_FLOW  CB_PRESS  CB_TEMP  STEAM_FLOW  STEAM_TEMP  \
0      01-07-21 00:10  311727.0      3.15    129.0         4.0       213.0
1      01-07-21 00:20  315163.0      3.16    129.0         4.0       209.0
2      01-07-21 00:30  314595.0      3.16    128.0         4.0       205.0
3      01-07-21 00:40  312465.0      3.16    127.0         4.0       200.0
4      01-07-21 00:50  302981.0      3.11    126.0         4.0       194.0
...               ...       ...       ...      ...         ...         ...
25400  31-12-21 23:10  278198.0      2.75     76.0         2.0       189.0
25401  31-12-21 23:20  286486.0      2.80     77.0         1.0       190.0
25402  31-12-21 23:30  284500.0      2.81     77.0         0.0       191.0
25403  31-12-21 23:40  284455.0      2.83     77.0         1.0       190.0
25404  31-12-21 23:50  274728.0      2.73     77.0         2.0       189.0

       STEAM_PRESS  O2_PRESS  O2_FLOW  O2_PER  ...  TOP_TEMP2  TOP_TEMP3  \
0             3.34      3.20   7296.0   23.08  ...      135.0      107.0
1             3.35      3.20   7829.0   23.08  ...      143.0      109.0
2             3.35      3.21   7904.0   23.08  ...      138.0      110.0
3             3.35      3.21   7919.0   23.08  ...      128.0      102.0
4             3.29      3.16   7938.0   23.08  ...      139.0      112.0
...            ...       ...      ...     ...  ...        ...        ...
25400         2.92      2.79   2628.0   22.25  ...      116.0      108.0
25401         2.97      2.84   2590.0   22.22  ...      113.0      105.0
25402         2.98      2.85   2592.0   22.20  ...      116.0      108.0
25403         3.00      2.87   2582.0   22.21  ...      119.0      113.0
25404         2.90      2.78   2593.0   22.23  ...      120.0      111.0

       TOP_TEMP4  TOP_SPRAY  TOP_TEMP  TOP_PRESS_1     CO    CO2    H2  \
0          130.0        0.0     121.0          2.0  22.22  21.00  3.88
1          128.0        0.0     125.0          1.0  22.56  21.00  3.94
2          124.0        0.0     124.0          1.0  22.49  21.08  3.94
3          110.0        0.0     115.0          1.0  22.36  21.13  3.99
4          124.0        0.0     125.0          1.0  22.25  21.30  4.10
...          ...        ...       ...          ...    ...    ...   ...
25400      122.0        0.2     111.0          1.0  21.90  20.25  3.10
25401      119.0        0.2     110.0          1.0  22.09  20.14  3.04
25402      115.0        0.1     110.0          1.0  22.04  20.20  2.99
25403      121.0        0.2     115.0          1.0  22.03  20.27  3.09
25404      121.0        0.1     116.0          1.0  22.03  20.35  3.23

       SKIN_TEMP_AVG
0          69.940478
1          71.454476
2          70.579462
3          70.179791
4          70.728470
...              ...
25400      65.923014
25401      64.321354
25402      64.253390
25403      63.478089
25404      62.793448

[25405 rows x 26 columns]

In [35]:
df.head()

,DATE_TIME,CB_FLOW,CB_PRESS,CB_TEMP,STEAM_FLOW,STEAM_TEMP,STEAM_PRESS,O2_PRESS,O2_FLOW,O2_PER,...,TOP_TEMP2,TOP_TEMP3,TOP_TEMP4,TOP_SPRAY,TOP_TEMP,TOP_PRESS_1,CO,CO2,H2,SKIN_TEMP_AVG
0,01-07-21 00:10,311727.0,3.15,129.0,4.0,213.0,3.34,3.20,7296.0,23.08,...,135.0,107.0,130.0,0.0,121.0,2.0,22.22,21.00,3.88,69.940478
1,01-07-21 00:20,315163.0,3.16,129.0,4.0,209.0,3.35,3.20,7829.0,23.08,...,143.0,109.0,128.0,0.0,125.0,1.0,22.56,21.00,3.94,71.454476
2,01-07-21 00:30,314595.0,3.16,128.0,4.0,205.0,3.35,3.21,7904.0,23.08,...,138.0,110.0,124.0,0.0,124.0,1.0,22.49,21.08,3.94,70.579462
3,01-07-21 00:40,312465.0,3.16,127.0,4.0,200.0,3.35,3.21,7919.0,23.08,...,128.0,102.0,110.0,0.0,115.0,1.0,22.36,21.13,3.99,70.179791
4,01-07-21 00:50,302981.0,3.11,126.0,4.0,194.0,3.29,3.16,7938.0,23.08,...,139.0,112.0,124.0,0.0,125.0,1.0,22.25,21.30,4.10,70.728470

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25405 entries, 0 to 25404
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DATE_TIME      25405 non-null  object
 1   CB_FLOW        22740 non-null  float64
 2   CB_PRESS       25373 non-null  float64
 3   CB_TEMP        25373 non-null  float64
 4   STEAM_FLOW     22740 non-null  float64
 5   STEAM_TEMP     25373 non-null  float64
 6   STEAM_PRESS    25373 non-null  float64
 7   O2_PRESS       25373 non-null  float64
 8   O2_FLOW        22740 non-null  float64
 9   O2_PER         25373 non-null  float64
 10  PCI            22740 non-null  float64
 11  ATM_HUMID      25373 non-null  float64
 12  HB_TEMP        21588 non-null  float64
 13  HB_PRESS       22659 non-null  float64
 14  TOP_PRESS      22740 non-null  float64
 15  TOP_TEMP1      25373 non-null  float64
 16  TOP_TEMP2      25373 non-null  float64
 17  TOP_TEMP3      25373 non-null  float64
 18  TOP_TEMP4      25373 non-null  float64
 19  TOP_SPRAY      25373 non-null  float64
 20  TOP_TEMP       25373 non-null  float64
 21  TOP_PRESS_1    22740 non-null  float64
 22  CO             22740 non-null  float64
 23  CO2            22740 non-null  float64
 24  H2             22740 non-null  float64
 25  SKIN_TEMP_AVG  25373 non-null  float64
dtypes: float64(25), object(1)
memory usage: 5.0+ MB

In [37]:
df.isna().sum()

DATE_TIME           0
CB_FLOW          2665
CB_PRESS           32
CB_TEMP            32
STEAM_FLOW       2665
STEAM_TEMP         32
STEAM_PRESS        32
O2_PRESS           32
O2_FLOW          2665
O2_PER             32
PCI              2665
ATM_HUMID          32
HB_TEMP          3817
HB_PRESS         2746
TOP_PRESS        2665
TOP_TEMP1          32
TOP_TEMP2          32
TOP_TEMP3          32
TOP_TEMP4          32
TOP_SPRAY          32
TOP_TEMP           32
TOP_PRESS_1      2665
CO               2665
CO2              2665
H2               2665
SKIN_TEMP_AVG      32
dtype: int64

In [38]:
df.shape

(25405, 26)

In [39]:
df.pop('DATE_TIME')
df.fillna('NaN', inplace = True)
df.isna().sum()

CB_FLOW          0
CB_PRESS         0
CB_TEMP          0
STEAM_FLOW       0
STEAM_TEMP       0
STEAM_PRESS      0
O2_PRESS         0
O2_FLOW          0
O2_PER           0
PCI              0
ATM_HUMID        0
HB_TEMP          0
HB_PRESS         0
TOP_PRESS        0
TOP_TEMP1        0
TOP_TEMP2        0
TOP_TEMP3        0
TOP_TEMP4        0
TOP_SPRAY        0
TOP_TEMP         0
TOP_PRESS_1      0
CO               0
CO2              0
H2               0
SKIN_TEMP_AVG    0
dtype: int64

In [40]:
df1 = df.dropna()
df.isna().sum()

CB_FLOW          0
CB_PRESS         0
CB_TEMP          0
STEAM_FLOW       0
STEAM_TEMP       0
STEAM_PRESS      0
O2_PRESS         0
O2_FLOW          0
O2_PER           0
PCI              0
ATM_HUMID        0
HB_TEMP          0
HB_PRESS         0
TOP_PRESS        0
TOP_TEMP1        0
TOP_TEMP2        0
TOP_TEMP3        0
TOP_TEMP4        0
TOP_SPRAY        0
TOP_TEMP         0
TOP_PRESS_1      0
CO               0
CO2              0
H2               0
SKIN_TEMP_AVG    0
dtype: int64

In [41]:
df1.shape

(25405, 25)